{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CrimeMonitor</title>
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script src="{% static "js/map.js" %}"></script>
    <script>
        function init() {
            var map = new OpenLayers.Map({'div':'map'});
            var osmLayer = new OpenLayers.Layer.OSM();


        var vectors = new OpenLayers.Layer.Vector("Vector Layer");
        {% for district in districts %}
            vectors.addFeatures(to_district_vector('{{ district.polygon_wkt }}', {{ district.crime_ratio }}));
        {% endfor %}

        map.addLayers([osmLayer, vectors]);
        map.setCenter(new OpenLayers.LonLat({{districts.0.way.centroid.x}},{{districts.0.way.centroid.y}}).transform('EPSG:4326', 'EPSG:900913'), 11);
        }
    </script>
</head>
<body onload="init();">
<div style="width:1100px; height:900px" id="map"></div>
</body>
</html>